body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    /*background-color: #e6e6e6;*/
    background-image: url("../images/concrete_seamless.png");
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;
}

#main{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    /*position: relative;*/
}

#main  p, #main h3{
    padding: 5px;
}

#main  h3{
    padding-bottom: 0px;
    border-bottom: 2px solid #cccccc;
}

#main p{
    line-height: 1.8em;
    margin: 0 0 0px 0;
    position: relative;
}

#main ul li{
    margin-top: 5px;
}


footer{
    background-color: #666666;
    border-top: 10px solid teal;
    margin-top: 20px;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    /*left: 0;*/
    width: 100%;
}

img{
    border-radius: 10px;
    margin-bottom: 5px;
}

#rightImage, #leftImage, span{
    display: inline-block;
    padding: 0;
}

#choices li{
    cursor: pointer;
}

#clock{
    display: none;
}

#answerArea{
    height: 300px;
}